In [6]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [5]:
l1=[1,2,3,4,5,6,7,8,9,10]
for i in l1:
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [7]:
list_s=[1,2,3,4,5,6,7,8,9,10]
it=iter(list_s)
while True:
    try:
        print(next(it),end=" ")
    except StopIteration:
        break

1 2 3 4 5 6 7 8 9 10

In [13]:
L=[1,2,3,4,5]
list(enumerate(L))

In [16]:
L1=[1,2,3,4,5]
L2=[6,7,8,9,10]
zipL1L2=zip(L1,L2)
print(list(zipL1L2))

[(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)]

In [22]:
def fibonacci(n):
    a, counter = 0,0
    while True: 
        if (counter > n):
            return
        if(a%2==1):
            yield a
        a+=1 
        counter += 1
f = fibonacci(8) 
while True: 
    try:
        print (next(f), end=" ") 
    except StopIteration:
        break

1 3 5 7

In [34]:
strA="the Kyoto College of Graduate studies for informatics"
print(strA.upper())
print(strA.lower())
print(strA.title())
print(strA.capitalize())
print(strA.swapcase())
strA=strA.lower()

THE KYOTO COLLEGE OF GRADUATE STUDIES FOR INFORMATICS
the kyoto college of graduate studies for informatics
The Kyoto College Of Graduate Studies For Informatics
The kyoto college of graduate studies for informatics
THE kYOTO cOLLEGE OF gRADUATE STUDIES FOR INFORMATICS

In [32]:
strB='          kyoto computer gakuin           '
print(strB.strip(' '))
strC='00000456'
print(strC.strip('0'))

kyoto computer gakuin
456

In [47]:
print(strA.find('kyoto'))
print(strA.index('kyoto'))
print(strA.startswith('kyoto'))
print(strA.endswith('kyoto'))
print(strA.replace('e','--'))

4
4
False
False
th-- kyoto coll--g-- of graduat-- studi--s for informatics

In [54]:
print(strA.partition('graduate'))
string1="--"
string2= ["a", "b", "c"]
string1.join(string2)
string3='He has {b} oranges.'
string3.format(b=3)

('the kyoto college of ', 'graduate', ' studies for informatics')

'He has 3 oranges.'